{% extends "base_page.html" %}

{% block page-title %}
Основные законы физики
{% endblock %}

{% block page-lead %}
Проект по изучению основных законов физики. <br> Проект позволяет просматривать сформулированные законы, а также добавлять свои и указывать на ошибки в законах.
{% endblock %}


{% block content %}
<div class="container px-4 py-5" id="project-contents">
    <h2 class="pb-2 border-bottom">Что есть в этом проекте</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-4">
        <div class="col d-flex">
            <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#cpu-fill"></use>
                </svg>
            </div>
            <div>
                <h3 class="fs-2">Список физических законов</h3>
                <p>Страница с названиями физических законов, формулировками и формулами. Содержание разбито по областям физики. </p>
                <a href="/laws-list" class="btn btn-primary">Посмотреть</a>
            </div>
        </div>
        <div class="col d-flex">
            <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#cpu-fill"></use>
                </svg>
            </div>
            <div>
                <h3 class="fs-2">Форма для добавления законов</h3>
                <p>При помощи формы можно добавить существующий закон физики в проект.</p>
                <a href="/add-law" class="btn btn-primary">
                    Заполнить
                </a>
            </div>
        </div>
        <div class="col d-flex">
            <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#cpu-fill"></use>
                </svg>
            </div>
            <div>
                <h3 class="fs-2">Статистика</h3>
                <p>Сколько законов уже есть? Из какого раздела физики они?</p>
                <a href="/stats" class="btn btn-primary">
                    Изучить
                </a>
            </div>
        </div>
        <div class="col d-flex">
            <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#cpu-fill"></use>
                </svg>
            </div>
            <div>
                <h3 class="fs-2">Форма для указания ошибок</h3>
                <p>Возможность указать на ошибки в законах.</p>
                <a href="/errors-form" class="btn btn-primary">
                    Указать
                </a>
            </div>
        </div>
    </div>

</div>
{% endblock %}

